# Configuration file

##########################################################################################################
# Picker
#--------------------------------------------------------------------------------------------------------#
# Emoji Picker Settings
##########################################################################################################

Picker {
    # Emoji Picker Skin Tone
    I:SkinTone=0
}


##########################################################################################################
# Render
#--------------------------------------------------------------------------------------------------------#
# Emoji Rendering Settings
##########################################################################################################

Render {
    # Enables/Disables emoji rendering
    B:Enabled=true
}


##########################################################################################################
# Suggest
#--------------------------------------------------------------------------------------------------------#
# Text Suggestion Settings
##########################################################################################################

Suggest {
    # Enables/Disables auto suggest
    B:Enabled=true

    # Enter key to suggest
    B:EnterToSuggest=true
}


##########################################################################################################
# Update
#--------------------------------------------------------------------------------------------------------#
# Mod Update Checker
##########################################################################################################

Update {
    # Show Update Notification
    B:Notification=true
}


