# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:betterwithmods.common.blocks.BlockAesthetic=true
    B:betterwithmods.common.blocks.BlockBUD=true
    B:betterwithmods.common.blocks.BlockBrokenGearbox=true
    B:betterwithmods.common.blocks.BlockCobble=true
    B:betterwithmods.common.blocks.BlockNetherClay=true
    B:betterwithmods.common.blocks.BlockSteel=true
    B:betterwithmods.common.blocks.BlockWolf=true
    B:"blusunrize.immersiveengineering.common.IEContent$1"=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:blusunrize.immersiveengineering.common.blocks.metal.BlockMetalDecoration0=true
    B:brightspark.landmanager.block.BlockHome=true
    B:com.creativemd.littletiles.common.block.BlockLTColored=false
    B:com.creativemd.littletiles.common.block.BlockLTColored2=false
    B:com.creativemd.littletiles.common.block.BlockStorageTile=false
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBlocksDeco=true
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBlocksTech=true
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBlocksTechB=true
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBricksDeco=true
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBricksTech=true
    B:com.globbypotato.rockhounding_chemistry.blocks.AlloyBricksTechB=true
    B:com.globbypotato.rockhounding_chemistry.blocks.DidymiumGlass=true
    B:com.globbypotato.rockhounding_chemistry.blocks.UninspectedMineral=true
    B:com.globbypotato.rockhounding_chemistry.blocks.Waterlock=true
    B:de.sanandrew.mods.immersivecables.block.BlockCoil=true
    B:ferro2000.immersivetech.common.blocks.stone.BlockStoneDecoration=true
    B:flaxbeard.immersivepetroleum.common.blocks.BlockIPBase=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyBlock=true
    B:mcjty.xnet.blocks.redstoneproxy.RedstoneProxyUBlock=true
    B:mctmods.immersivetechnology.common.blocks.stone.BlockStoneDecoration=true
    B:"nc.block.BlockMeta$BlockFertileIsotope"=true
    B:"nc.block.BlockMeta$BlockFissionReflector"=true
    B:"nc.block.BlockMeta$BlockIngot"=true
    B:"nc.block.BlockMeta$BlockOre"=true
    B:nc.block.NCBlock=true
    B:net.dries007.tfc.objects.blocks.BlockAggregate=true
    B:net.dries007.tfc.objects.blocks.BlockDebug=true
    B:net.dries007.tfc.objects.blocks.BlockDecorativeStone=true
    B:net.dries007.tfc.objects.blocks.BlockFireBrick=true
    B:net.dries007.tfc.objects.blocks.BlockFireClay=true
    B:net.dries007.tfc.objects.blocks.BlockPeat=true
    B:net.dries007.tfc.objects.blocks.stone.BlockOreTFC=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockRaw=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockSmooth=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariant=true
    B:net.dries007.tfc.objects.blocks.stone.BlockRockVariantFallable=true
    B:net.dries007.tfc.objects.blocks.wood.BlockBookshelfTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockPlanksTFC=true
    B:net.dries007.tfc.objects.blocks.wood.BlockWorkbenchTFC=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=false
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=false
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=false
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:openblocks.common.block.BlockElevator=true
    B:openblocks.common.block.BlockSponge=true
    B:pl.asie.debark.BlockDebarkedLog=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:wile.engineersdecor.blocks.BlockDecor=true
    B:wile.engineersdecor.blocks.BlockDecorFull=true
    B:zmaster587.advancedRocketry.block.BlockCharcoalLog=true
    B:zmaster587.advancedRocketry.block.BlockIntake=true
    B:zmaster587.advancedRocketry.block.BlockLinkedHorizontalTexture=true
    B:zmaster587.advancedRocketry.block.BlockMiningDrill=true
    B:zmaster587.advancedRocketry.block.BlockPlanetSoil=true
    B:zmaster587.advancedRocketry.block.plant.BlockAlienPlank=true
    B:zmaster587.advancedRocketry.block.plant.BlockAlienWood=true
    B:zmaster587.libVulpes.block.BlockOre=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


